.searchBar {
    width: 400px;
    height: 50px;
    padding: 1rem;
    background: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.searchBar input {
    width: 350px;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    text-indent: 0.5rem;
    color: black;
}

.search-icon {
    font-size: 2rem;
    margin-left: 0.5rem;
}